.login-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0;
  padding: 3.25rem 0px;
  background-color: #EEEEEE;
  min-height: calc(100vh - 10rem);
}
.login-wrapper .login {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  gap: 0;
  background-color: white;
  border-top: 4px solid #3AC7EC;
  width: min(488px, 95%);
  padding: 1rem 2rem 1.5rem 2rem;
  border-radius: 4px;
}
.login-wrapper .login .login-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0;
  position: relative;
  margin-bottom: 2rem;
}
.login-wrapper .login .login-header .login-header-back {
  position: absolute;
  top: calc(50% - 10px);
  left: 0px;
  width: 17px;
  height: 26px;
  transition: 0.3s all ease;
}
.login-wrapper .login .login-header .login-header-back:hover {
  transform: translateX(-0.125rem);
}
.login-wrapper .login .login-fields {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  gap: 0;
}
.login-wrapper .login .login-fields .login-field-radio, .login-wrapper .login .login-fields .login-field-checkboxes {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  gap: 2rem;
  flex-wrap: wrap;
}
.login-wrapper .login .login-fields .login-field-radio .login-field-radio-item, .login-wrapper .login .login-fields .login-field-radio .login-field-checkbox-item, .login-wrapper .login .login-fields .login-field-checkboxes .login-field-radio-item, .login-wrapper .login .login-fields .login-field-checkboxes .login-field-checkbox-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  font-weight: 600;
}
.login-wrapper .login .login-fields .login-field-radio:nth-child(6), .login-wrapper .login .login-fields .login-field-checkboxes:nth-child(6) {
  margin-top: 1.5rem;
}
.login-wrapper .login .login-fields .login-field-select, .login-wrapper .login .login-fields .login-field-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.25rem;
  position: relative;
  margin-top: 1.5rem;
}
.login-wrapper .login .login-fields .login-field-select input, .login-wrapper .login .login-fields .login-field-select select, .login-wrapper .login .login-fields .login-field-text input, .login-wrapper .login .login-fields .login-field-text select {
  height: 30px;
  width: 100%;
  border: 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1215686275);
  font-size: 1rem;
  font-weight: 600;
  position: relative;
  display: block;
  transition: 0.3s all ease;
}
.login-wrapper .login .login-fields .login-field-select input:hover, .login-wrapper .login .login-fields .login-field-select select:hover, .login-wrapper .login .login-fields .login-field-text input:hover, .login-wrapper .login .login-fields .login-field-text select:hover {
  padding: 0px 0.5rem;
  background-color: #F3F3F3;
}
.login-wrapper .login .login-fields .login-field-select label {
  font-size: 0.75rem;
  font-weight: 600;
  color: #666666;
}
.login-wrapper .login .login-fields .login-field-select:nth-child(3) {
  margin-top: 2.25rem;
}
.login-wrapper .login .login-fields .login-field-text {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  gap: 0.25rem;
}
.login-wrapper .login .login-fields .login-field-text .login-field-overlay-icon {
  position: absolute;
  right: 5px;
  top: 7.5%;
}
.login-wrapper .login .login-fields .login-field-text .login-field-overlay-icon img {
  width: 20px;
}
.login-wrapper .login .login-fields .login-field-text a {
  margin-left: auto;
  color: #1F7A54;
  font-weight: 600;
  text-decoration: none;
  font-size: 0.875rem;
  transition: 0.3s all ease;
}
.login-wrapper .login .login-fields .login-field-text a:hover {
  color: #3FD28B;
}
.login-wrapper .login .login-fields .login-field-text:nth-child(4) {
  margin-top: 3.5rem;
}
.login-wrapper .login .login-fields .login-field-text:nth-child(5) {
  margin-top: 1.75rem;
}
.login-wrapper .login-button {
  width: 216px;
  height: 40px;
  border: 0px;
  background-color: #3FD28B;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2392156863);
  font-size: 0.875rem;
  font-weight: 600;
  border-radius: 4px;
  margin: 2rem auto auto auto;
  transition: 0.3s all ease;
}
.login-wrapper .login-button:hover {
  color: white;
  background-color: #1F7A54;
}/*# sourceMappingURL=login.css.map */