$background-light: #EEEEEE;
$background-dark: #E0E1E1;
$background-header: #25313F;

$border-light: #0000001F;
$border: rgba(0, 0, 0, 0.5);
$border-dark: #222222;

$shadow: #0000003D;

$white: white;
$black: black;

$green-light: #8DDC97;
$green: #3FD28B;
$green-dark: #1F7A54;

$blue: #3AC7EC;
$blue-dark: #2A7FF3;

$grey-extra-light: #F3F3F3;
$grey-light: #686868;
$grey: #666666;
$grey-dark: #616161;

$red-light: #FFE4E6;
$red: #D80000;

$yellow-light: #FFFFEE;
