@import './colors.scss';

@font-face {
    font-family: Quicksand;
    src: url('../assets/fonts/Quicksand-VariableFont_wght.ttf');
}

* {
    font-family: Quicksand, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    margin: 0px;
}

h1, h2, h3, h4, h5, h6, p, pre {
    margin: 0px;
}

input, option {
    padding: 0px;
}

button, input[type=button], [tabindex='0'], [role='radio'], select {
    cursor: pointer;
}

select {
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KICAgIDxwYXRoIGQ9Ik03IDEwbDUgNSA1LTV6Ii8+CiAgICA8cGF0aCBkPSJNMCAwaDI0djI0SDB6IiBmaWxsPSJub25lIi8+Cjwvc3ZnPgo=") no-repeat;
    background-position: calc(100% - 0.15rem) center;
    -moz-appearance:none;
    -webkit-appearance: none; 
    appearance: none;
    padding: 0px;
}

// input:focus, button:focus, select:focus, textarea:focus, a:focus, [role=radio]:focus, [role=checkbox]:focus, [role=button]:focus, [role=menu]:focus {
//     outline: 2px solid $blue;
// }
*:focus-visible {
    outline: none;
    // outline: 2px solid $blue;
    box-shadow: 0 0 2px 2px $blue !important;
}
input:focus, select:focus, textarea:focus {
    padding: 0px 0.25rem;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

html {
    overflow-x: hidden;
    @media (max-width: 968px) {
        font-size: 15px;
    }
    @media (max-width: 668px) {
        font-size: 14px;
    }
    @media (max-width: 368px) {
        font-size: 13px;
    }
    @media (max-width: 268px) {
        font-size: 12px;
    }
    @media (max-width: 168px) {
        font-size: 11px;
    }
}
